body {
    text-align: center;
}

canvas {
    border: 2px solid black;
    background: black;
}

#heading {
    font-family: Courier New, Courier, monospace
}

#game-controls{
    margin-top: 10px;
}

.centered {
    float:none;
    vertical-align:top;
    margin-right:-4px;
}

.control-button {
    width : 75px;
    height: 35px;
    background-color: #59a659;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
}

#pause-wrapper {
    margin: 0 auto; 
    width: 400px;
}

#pause {
    margin-top: 5px;
    height: 35px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #D964C2;
}

.btn-text {
    padding-top: 10px;
}