body {
    text-align: center;
}

#game-canvas {
    border: 2px solid black;
    background: black;
}

#side-canvas {
    border: 2px solid black;
    background: white;
}

#heading {
    font-family: Courier New, Courier, monospace;
    display: inline-block;
    float: none;
}


.centered {
    float: none;
    vertical-align: top;
}


#game-board {
    width: auto;
}

#side-bar {
    width: 160px;
    height: 823px;
}

#game-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




/* Buttons and controls*/

#game-controls{
    margin-top: 10px;
}

#pause-wrapper {
    margin: 0 auto; 
    width: 500px;
}

#pause {
    margin-top: 5px;
    height: 50px;
    width: 500px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #D964C2;
    font-family: Courier New, Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    line-height: 100%;
}

.btn-text {
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    -o-user-select: none;
    user-select: none;
}

.control-button {
    width : 100px;
    height: 50px;
    background-color: #59a659;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
}

